@media screen {

.page {
    height: 100vh;
    display: grid;
    grid-template-rows: 6rem 4rem auto 4rem;
    grid-template-areas:
        "titre"
        "nom"
        "description"
        "bas";
    font-family: Arial, sans-serif;
}


.titre {
    grid-area: titre;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(200, 220, 240);
}

.titre h2 {
    font-size: 25px;
    margin: 0;
}


.nom {
    grid-area: nom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid rgb(220, 230, 240);
}

.personne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.id {
    font-size: 0.85rem;
    color: #555;
}


.description {
    grid-area: description;
    padding: 2rem;
    line-height: 1.5;
}


.bas {
    grid-area: bas;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: #777;
    border-top: 1px solid rgb(220, 230, 240);
}

}

.description .section .content {
    padding: 1rem 0;
}

.description .section .toggle {
    width: 100%;
    text-align: left;
    background: rgb(241, 241, 241);
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.description .section .toggle.active {
    background-color: rgb(231, 168, 166); 
    font-weight: bold;                     
}




